# test requirements
pre-commit
mypy
flake8
autopep8
pylint
pytest
pytest-cov
pytest-mock
pytest-spark
sphinx
myst-parser>=0.15
myst-nb>=0.13.1

nbconvert
nbsphinx
pandoc
ipython
jupyter-book>=0.12.1

flask
fugue[spark]
tune

pandera
scikit-learn
matplotlib
seaborn
xgboost
