# test requirements
pre-commit
mypy
flake8
autopep8
pylint
pytest
pytest-cov
pytest-mock
pytest-spark
sphinx
sphinx-rtd-theme
furo
myst-parser

nbconvert
nbsphinx
pandoc
ipython

flask
fugue[spark]

pandera
scikit-learn
matplotlib
seaborn